{% extends "./layout.html" %}

{% block title %}{{ page.title }} · {{ super() }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block head %}
    {{ super() }}
    {% if page.next and page.next.path %}
    <link rel="next" href="{{ page.next.path|resolveFile }}" />
    {% endif %}
    {% if page.previous and page.previous.path %}
    <link rel="prev" href="{{ page.previous.path|resolveFile }}" />
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{{ "gitbook.js"|resolveAsset }}"></script>
    <script src="{{ "theme.js"|resolveAsset }}"></script>
    {% for resource in plugins.resources.js %}
        {% if resource.url %}
        <script src="{{ resource.url }}"></script>
        {% else %}
        <script src="{{ resource.path|resolveAsset }}"></script>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
<div class="hengshidoc">
    <div class="hengshidoc-header">
        <div class="hengshidoc-header-inner">
            <img src="{{ "images/logo.svg"|resolveAsset }}" class="logo">
            <h1>{{ config.title }}</h1>
            {% block search_input %}{% endblock %}
        </div>
    </div>
    <div class="hengshidoc-breadcrumb">
        <div class="hengshidoc-breadcrumb-inner"></div>
    </div>

    <div class="hengshidoc-body">
        {% block book_sidebar %}
            {% block book_summary %}
                {% include "website/summary.html" %}
            {% endblock %}
        {% endblock %}

        {% block book_body %}
            <div class="hengshidoc-body-inner">
                {% block book_inner %}
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            {% block search_results %}
                                <section class="normal markdown-section">
                                {% block page %}
                                    {% if file.path === "README.md" %}
                                        <div class="hengshidoc-indexpage">
                                    {% endif %}
                                    {{ page.content|safe }}
                                    {% if file.path === "README.md" %}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                                </section>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
<!--
    <div class="hengshidoc-footer">
        <p>2017-2018 hengshi.com 京 ICP 备17050711号</p>
    </div>
 -->
    <script>
        var summaryObject = {{ summary|dump|safe }};

        var gitbook = gitbook || [];
        gitbook.push(function() {
            gitbook.page.hasChanged({{ template.getJSContext()|dump|safe }});
        });
    </script>
</div>
{% endblock %}
