{% extends "./layout.html" %}

{% block title %}{{ page.title }} · {{ super() }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block head %}
    {{ super() }}
    {% if page.next and page.next.path %}
    <link rel="next" href="{{ page.next.path|resolveFile }}" />
    {% endif %}
    {% if page.previous and page.previous.path %}
    <link rel="prev" href="{{ page.previous.path|resolveFile }}" />
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{{ "gitbook.js"|resolveAsset }}"></script>
    <script src="{{ "theme.js"|resolveAsset }}"></script>
    {% for resource in plugins.resources.js %}
        {% if resource.url %}
        <script src="{{ resource.url }}"></script>
        {% else %}
        <script src="{{ resource.path|resolveAsset }}"></script>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
<div class="book">
    <div class="book-header">
        <div class="book-header-inner">
            <h1>{{ config.title }}</h1>
            {% block search_input %}{% endblock %}
        </div>
        <div class="book-header-breadcrumb"></div>
    </div>

    <div class="book-body">
        <div class="book-summary">
            {% block book_sidebar %}
                {% block book_summary %}
                    <nav role="navigation">
                    {% include "website/summary.html" %}
                    </nav>
                {% endblock %}
            {% endblock %}
        </div>

        {% block book_body %}
            <div class="body-inner">
                {% block book_inner %}
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            {% block search_results %}
                                <section class="normal markdown-section">
                                {% block page %}
                                {{ page.content|safe }}
                                {% endblock %}
                                </section>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <div class="book-footer">
        <p>2017-2018 hengshi.com 京 ICP 备17050711号</p>
    </div>

    <script>
        var gitbook = gitbook || [];
        gitbook.push(function() {
            gitbook.page.hasChanged({{ template.getJSContext()|dump|safe }});
        });
    </script>
</div>
{% endblock %}
