{% macro articles(_articles) %}
    {% for article in _articles %}
        <li class="chapter {% if article.path == file.path and not article.anchor %}active{% endif %}" data-level="{{ article.level }}" {% if article.path %}data-path="{{ article.path|resolveFile }}"{% endif %}>
            {% if article.path and getPageByPath(article.path) %}
                <a href="{{ article.path|resolveFile }}{{ article.anchor }}">
            {% elif article.url %}
                <a target="_blank" href="{{ article.url }}">
            {% else %}
                <span>
            {% endif %}

            {{ article.title }}

            {% if article.path  or article.url %}
                </a>
            {% else %}
                </span>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<div class="hengshidoc-summary">
    <div class="hengshidoc-summary-links">
        <h2>帮助文档目录</h2>
        <ul>
        {% for part in summary.parts %}
            {{ articles(part.articles, file, config) }}
        {% endfor %}
        </ul>
    </div>
    <div class="hengshidoc-summary-more">
        <h2>更多相关信息</h2>
        <p>申请License请联系support@hengshi.com</p>
        <p>访问我们的官方网站并申请使用</p>
        <a class="button"
            target="_blank"
            href="https://hengshi.com">前往</a>
    </div>
</div>
