.hengshidoc {
    width: 100%;
    color: @body-color;
    background: @body-background;

    &-indexpage .normal,
    &-page .normal {
        & > ul {
            padding-left: 0!important;
        }
    }
    &-indexpage .normal {
        ul,
        ul li {
            padding: 0;
            list-style: none;

            a {
                color: @body-color;
                &:hover,
                &:focus {
                    color: @primary-color;
                    text-decoration: none;
                }
            }
        }
        & > ul {
            & > li {
                display: inline-block;
                width: 45%;
                margin-bottom: 2%;
                vertical-align: top;
                &:nth-child(odd) {
                    margin-right: 4.5%;
                }
                & > a {
                    display: block;
                    padding: 0 10px;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1.86;
                    border-bottom: 1px solid @divider-color;
                }
                & > ul {
                    padding-left: 0;
                    margin-top: 10px;
                    & > li {
                        a {
                            display: block;
                            position: relative;
                            line-height: 40px;
                            padding-left: 25px;

                            &:before {
                                content: '•';
                                font-size: 6px;
                                line-height: 40px;
                                position: absolute;
                                left: 12px;
                                top: 0;
                            }
                            &.hengshidoc-indexpage-more {
                                color: @primary-color;

                                &:before {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-page .normal {
        .hengshidoc-custom-ul + p + ul {
            li {
                padding: 0;
                list-style: none;
                line-height: 40px;
            }
            & > li {
                position: relative;
                padding-left: 25px;

                a {
                    display: block;
                    color: @body-color;
                    &:hover,
                    &:focus {
                        color: @primary-color;
                        text-decoration: none;
                    }
                }
                &:before {
                    content: '•';
                    font-size: 6px;
                    line-height: 40px;
                    position: absolute;
                    left: 12px;
                    top: 0;
                }
            }
        }
    }
}

.hengshidoc-body {

    &-inner {
        .response-bigger-maxwidth;

        min-height: ~'calc(100vh - 250px)';
        padding-left: @sidebar-width;
        position: relative;

        .navigation {
            display: inline-block;
            width: 49%;
            line-height: 1.86;
            white-space: nowrap;
            color: @primary-color;
            padding-bottom: 50px;

            &-prev {
                text-align: left;
                padding-left: 30px;

                .fa {
                    margin-right: 5px;
                }
            }
            &-next {
                text-align: right;
                padding-right: 30px;

                .fa {
                    margin-left: 5px;
                }
            }
            .fa {
                font-size: 1rem;
            }
            span {
                display: inline;
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        img {
            cursor: pointer;
        }
    }
}

@media (max-width: @mobileMaxWidth) {
    .hengshidoc-body {

        &-inner {
            .response-mobile;

            padding-left: 0;

            .navigation {
                position: static;
                padding-bottom: 20px;

                &-prev {
                    padding-left: 10px;
                }
                &-next {
                    padding-right: 10px;
                }
            }
        }
    }
    .hengshidoc-indexpage .normal {
        & > ul > li {
            display: block;
            width: 100%;
            margin: 0 0 20px 0;
        }
    }
}
