.book {
    width: 100%;
    color: @page-color;
    background: @body-background;
}

.book-body {
    .response-bigger-maxwidth;

    position: relative;
    padding-left: @sidebar-width;

    &-inner {
        min-height: calc(~"100% - 50px")
    }
}

@media (max-width: @mobileMaxWidth) {
    .book-body {
        .response-mobile;

        padding-left: 0;
    }
}
