.hengshidoc {
    &-header {
        font-family: @font-family-sans;

        width: 100%;
        height: @header-height;
        z-index: 2;

        color: @header-color;
        background: @header-background;

        overflow: hidden;

        &-inner {
            .response-bigger-maxwidth;

            height: 100%;
            position: relative;
            text-align: center;
            overflow: hidden;
            background-position: right bottom;
            background-size: contain;
            background-repeat: no-repeat;

            .logo {
                position: absolute;
                top: 20px;
                left: 0;
                height: @logo-height;
            }

            h1 {
                font-size: 42px;
                font-weight: normal;
                line-height: 1;

                margin-top: 75px; // temp
            }
        }
        &-fixed {
            position: fixed;
            height: 50px;
            left: 0;
            top: 0;

            .hengshidoc-header-inner {
                .logo {
                    top: 13px;
                }
                h1 {
                    display: none;
                }

                #book-search-input {
                    position: absolute;
                    right: 0;
                    top: 9px;

                    &:after,
                    input {
                        line-height: 30px;
                    }
                }
            }
        }
    }

    &-breadcrumb {
        z-index: 2;

        width: 100%;
        height: @breadcrumb-height;
        line-height: @breadcrumb-height;

        color: @breadcrumb-color;
        background: @primary-background;

        a {
            color: inherit;

            &:hover,
            &:focus {
                color: @primary-color;
            }
        }

        i {
            padding: 0 6px 0 4px;
        }

        &-inner {
            .response-bigger-maxwidth;

            white-space: nowrap;

            div {
                display: inline-block;
                position: relative;

                &:hover {
                    & > a {
                        color: @primary-color;
                    }
                    ul {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }

                ul {
                    position: absolute;
                    z-index: 2;
                    left: -20px;
                    top: 100%;
                    min-width: ~'calc(100% + 40px)';
                    background: @primary-background;
                    border-radius: 0 0 @border-radius-large @border-radius-large;
                    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, .1);
                    margin: 0;
                    padding: 5px 0;

                    opacity: 0;
                    pointer-events: none;

                    li {
                        list-style: none;
                        line-height: 40px;

                        &:hover {
                            background: #e2ecf8;
                        }

                        a {
                            display: block;
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: @mobileMaxWidth) {
    .hengshidoc-header {
        height: 150px;
    }
    .hengshidoc-header-inner {
        .response-mobile;
        .logo {
            display: none;
        }
        h1 {
            font-size: 1.2rem;
            margin-top: 40px;
        }
    }
    .hengshidoc-breadcrumb {
        overflow-x: auto;

        &-inner {
            width: 100%;
            padding: 0 10px;
        }
    }
}
