.page-wrapper {
    position: relative;
    outline: none;
}

.page-inner {
    margin: 0px auto;
    position: relative;
    padding: @sidebar-top 30px 40px;
}

@media (max-width: @mobileMaxWidth) {
  .page-inner {
    padding: 20px;
  }
}
