.page-wrapper {
    position: relative;
    outline: none;
}

.page-inner {
    margin: 0px auto;
    position: relative;
    padding: @sidebar-top 30px 40px;
}

@media (max-width: @mobileMaxWidth) {
  .page-inner {
    padding: 20px 10px;
  }
}

.hengshidoc {
  &-comment + p + blockquote,
  &-warning + p + blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 15px 15px 15px 40px;
    border-left-width: 4px;
    border-left-style: solid;
    position: relative;

    p:last-child,
    ul:last-child,
    ol:last-child,
    code:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: 15px;
      top: 15px;
      font-family: FontAwesome;
      margin-right: 10px;
    }
  }

  &-comment + p + blockquote {
    color: @primary-color;
    border-color: @primary-color;
    background: rgba(74, 144, 226, .1);

    &:before {
      content: "\f0f6"
    }
  }
  &-warning + p + blockquote {
    color: #dc5454;
    border-color: #dc5454;
    background: #fff6f8;

    &:before {
      color: #f8bbbb;
      content: "\f071";
    }
  }
}
